body
{
    height: 100vh;
    background: #151519;
}

h1 
{
    color:white;
    font-size: 5vh;
}


#main_div
{
    float: left;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#sub_div_active_board,
#sub_div_passive_board
{
    flex: 0 0 auto;
    height: 650px;
    width: 650px;
}

#sub_div_action_buttons
{
    flex: 0 0 auto;
    height: 650px;
    width: 300px;
}

#sub_div_action_buttons_splited
{
    clear: both;
    margin-bottom: 100px;
    height: 50%;
    width: 100px;
}

button,
[type="enabled"]
{
    outline: none;
    top: 50%;
    left: 50%;
    background: none;
    color: #ccc;
    width: 60px;
    height: 60px;
    border: 1px solid #045bbe;
    font-size: 15px;
    transition: .6s;
    margin-bottom: 2px;
    margin-left: 2px;
    overflow: hidden;
}


[type="selected"]
{
    border: 1px solid rgba(10, 165, 5, 0.933);
}

[type="board_action_buttons"]
{
    width: 10vw;
}

[type="ship_action_buttons"]
{
    width: 10vw;
}

[type="ship_placed"]
{
    border: 1px solid rgba(215, 253, 0, 0.933);
}

[type="fire_hit"]
{
    border: 1px solid rgba(10, 165, 5, 0.933);
    color: green;
}

[type="fire_miss"]
{
    border: 1px solid rgba(150, 9, 4, 0.933);
    color: red;
    opacity: 0.6;
}

button:hover:enabled
{
    background: #003d99;    
    cursor: pointer;
}

button:hover::before:enabled
{
    transform: translateX(300px) skewX(-15deg);
    opacity: 0.6;
    transition: .7s;
}

button:hover::after:enabled
{
    transform: translateX(300px) skewX(-15deg);
    opacity: .6s;
    transition: .7s;
}
